/**
* Layout
**/

.top-bar{
  z-index: 1;
}

.hero{
  width: 100%;
  height: rem-calc(540);
  min-height: rem-calc(540);
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  top: rem-calc(0);
  z-index: 0;

  .hero-content{
    margin-top: rem-calc(50);
    position: relative;
    width: 100%;
    margin-top: rem-calc(90);
    z-index: 1;

    h1{
      color: $white;
      text-shadow: rem-calc(2) rem-calc(2) rem-calc(10) rgba(0,0,0,0.7);
    }

  }

}
